<a href="https://colab.research.google.com/github/jangje0908/sesac/blob/main/Part3_%EC%B5%9C%EC%8B%A0%EA%B8%B0%EC%B6%9C%EB%B3%B5%EC%9B%90%EB%AC%B8%EC%A0%9C_4%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 3. 빅데이터분석기사 4회**

## 2. 작업형 제1유형

#### 소스 및 데이터 동기화

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

### (1) 첫 번째 문제

주어진 리스트에 대해 아래 과정을 차례로 수행한 최종 결과값을 출력하시오.

#### 데이터 확인하기

In [ ]:
lst = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]

#### 제 1 사분위수, 3 사분위수 구하기

In [ ]:
import numpy as np
q1 = np.quantile(lst, 0.25)
q3 = np.quantile(lst, 0.75)

print(q1)
print(q3)

4.55
23.5

#### 두 값의 차이의 절댓값 구하기

In [ ]:
diff = abs(q1-q3)
print(diff)

18.95

#### 결과 출력하기

In [ ]:
result = int(diff)
print(result)

18

In [ ]:
# ## 전체 풀이 코드

# import numpy as np

# lst = [2, 3, 3.2, 5, 7.5, 10, 11.8, 12, 23, 25, 31.5, 34]

# Q1 = np.quantile(lst, 0.25)
# Q3 = np.quantile(lst, 0.75)

# diff = abs(Q1-Q3)
# result = int(diff)

# print(result) # 최종 결과값만 print되도록 해야 합니다.

### (2) 두 번째 문제

주어진 facebook 데이터 세트는 페이스북 라이브에 대한 사용자 반응을 집계한 것이다. 이 중 love 반응(num_loves)와 wow 반응(num_wows)을 매우 긍정적인 반응이라고 정의할 때, 전체 반응 수(num_reactuin) 중 매우 긍정적인 반응 수가 차지하는 비율을 계산하시오. 그리고 그 비율이 0.5보다 작고 0.4보다 크며 유형이 비디오에 해당하는 건수를 정수로 출력하시오.

#### 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/402_facebook.csv')
print(df.head())

                          status_id status_type  num_reactions  num_comments  \
0  246675545449582_1649696485147474       video            529           512
1  246675545449582_1649426988507757       photo            150             0
2  246675545449582_1648730588577397       video            227           236
3  246675545449582_1648576705259452       photo            111             0
4  246675545449582_1645700502213739       photo            213             0

   num_shares  num_likes  num_loves  num_wows  num_hahas  num_sads  num_angrys
0         262        432         92         3          1         1           0
1           0        150          0         0          0         0           0
2          57        204         21         1          1         0           0
3           0        111          0         0          0         0           0
4           0        204          9         0          0         0           0

####  긍정적인 반응 비율 계산하기

In [ ]:
df['긍정 반응 비율'] = (df['num_loves']+df['num_wows'])/df['num_reactions']
df.head()

,status_id,status_type,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,긍정 반응 비율
0,246675545449582_1649696485147474,video,529,512,262,432,92,3,1,1,0,0.179584
1,246675545449582_1649426988507757,photo,150,0,0,150,0,0,0,0,0,0.000000
2,246675545449582_1648730588577397,video,227,236,57,204,21,1,1,0,0,0.096916
3,246675545449582_1648576705259452,photo,111,0,0,111,0,0,0,0,0,0.000000
4,246675545449582_1645700502213739,photo,213,0,0,204,9,0,0,0,0,0.042254

In [ ]:
df['pos_prop'] = (df['num_loves']+df['num_wows'])/df['num_reactions']
print(df['pos_prop'].describe())

count    6929.000000
mean        0.049604
std         0.101727
min         0.000000
25%         0.000000
50%         0.000000
75%         0.040000
max         1.000000
Name: pos_prop, dtype: float64

####문제 조건에 해당하는 데이터 추출하기

In [ ]:
print(df['status_type'].unique())   # status 값 종류 확인

['video' 'photo' 'link' 'status']

In [ ]:
new_df = df[(df['긍정 반응 비율']>0.4)&(df['긍정 반응 비율']<0.5)&(df['status_type']=='video')]
print(new_df.head())

                            status_id status_type  num_reactions  \
3116  134115277150304_226952507866580       video            255
4624  725980084255106_838993039620476       video           1397
4776  614855718638584_852682288189258       video            259
4793  614855718638584_851581351632685       video            146
4812  614855718638584_850456998411787       video            184

      num_comments  num_shares  num_likes  num_loves  num_wows  num_hahas  \
3116           926         181        142        108         0          5
4624           771         695        765        485       139          4
4776           695         263        151        106         0          2
4793           303         221         73         69         2          1
4812           530         224        101         80         0          1

      num_sads  num_angrys  긍정 반응 비율  pos_prop
3116         0           0  0.423529  0.423529
4624         1           3  0.446671  0.446671
4776         0           0  0.409266  0.409266
4793         0           1  0.486301  0.486301
4812         1           1  0.434783  0.434783

#### 결과 출력하기

In [ ]:
result = len(rst_df)
print(result)

6

In [ ]:
# ## 전체 풀이 코드

# import pandas as pd

# df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/402_facebook.csv')

# df['pos_prop'] = (df['num_loves']+df['num_wows'])/df['num_reactions']
# rst_df = df[(df['pos_prop']>0.4)&(df['pos_prop']<0.5)&(df['status_type']=='video')]

# result = len(rst_df)

# print(result) # 최종 결과값만 print되도록 해야 합니다.

### (3) 세 번째 문제

주어진 netflix 데이터 세트는 넷플릭스에 등록된 컨텐츠의 메타데이터이다. 2018년 1월에 넷플릭스에 등록된 컨텐츠 중에서 'United Kingdom'이 단독 제작한 컨텐츠의 수를 정수로 출력하시오.

#### 데이터 불러오기

In [ ]:
import pandas as pd

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/403_netflix.csv')
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...

####  2018년 1월에 등록된 컨텐츠 추출하기

In [ ]:
df['date_added'].head()   # 날짜 값 형태 확인하기

0    September 25, 2021
1    September 24, 2021
2    September 24, 2021
3    September 24, 2021
4    September 24, 2021
Name: date_added, dtype: object

In [ ]:
new_df = df[df['date_added'].str.contains('January') & df['date_added'].str.contains('2018')]
new_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5055,s5056,Movie,Expedition Happiness,Selima Taibi,"Selima Taibi, Felix Starck",Germany,"January 31, 2018",2017,TV-PG,96 min,"Documentaries, International Movies",A filmmaker and his musician girlfriend attemp...
5056,s5057,Movie,Jerry Seinfeld: I'm Telling You for the Last Time,Marty Callner,Jerry Seinfeld,United States,"January 30, 2018",1998,TV-14,69 min,Stand-Up Comedy,"Months after his classic TV sitcom ends, the l..."
5057,s5058,TV Show,Retribution,NaN,"Georgina Campbell, Joe Dempsie, Adrian Edmonds...",United Kingdom,"January 30, 2018",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",A dark web of secrets and lies emerges when a ...
5058,s5059,Movie,Holy Camp!,"Javier Ambrossi, Javier Calvo","Macarena García, Anna Castillo, Belén Cuesta, ...",Spain,"January 29, 2018",2017,TV-MA,108 min,"Comedies, Dramas, Faith & Spirituality","In this musical comedy, two rebellious teen gi..."
5059,s5060,Movie,A Futile and Stupid Gesture,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,"January 26, 2018",2018,TV-MA,102 min,Comedies,"In a brief life full of triumph and failure, ""..."

#### 영국이 단독 제작한 컨텐츠 추출하기

In [ ]:
new_df = new_df[new_df['country']=='United Kingdom']
new_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5057,s5058,TV Show,Retribution,NaN,"Georgina Campbell, Joe Dempsie, Adrian Edmonds...",United Kingdom,"January 30, 2018",2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",A dark web of secrets and lies emerges when a ...
5074,s5075,Movie,Bad Day for the Cut,Chris Baugh,"Nigel O'Neill, Susan Lynch, Józef Pawlowski, S...",United Kingdom,"January 18, 2018",2017,TV-MA,99 min,"Independent Movies, International Movies, Thri...","A mild-mannered, middle-aged Irish farmer devo..."
5097,s5098,TV Show,Lovesick,NaN,"Johnny Flynn, Antonia Thomas, Daniel Ings, Han...",United Kingdom,"January 1, 2018",2018,TV-MA,3 Seasons,"British TV Shows, International TV Shows, Roma...","In his quest for true love, Dylan found chlamy..."
7398,s7399,Movie,Manolo: The Boy Who Made Shoes for Lizards,Michael Roberts,"Manolo Blahnik, Anna Wintour, André Leon Talle...",United Kingdom,"January 15, 2018",2017,TV-MA,89 min,"Documentaries, International Movies",As legendary shoe designer Manolo Blahnik spea...
8357,s8358,TV Show,The Inbetweeners,NaN,"Simon Bird, James Buckley, Blake Harrison, Joe...",United Kingdom,"January 1, 2018",2010,TV-MA,3 Seasons,"British TV Shows, TV Comedies",This rib-tickling series follows four English ...

####  결과 출력하기

In [ ]:
result = len(new_df)
print(result)

6

In [ ]:
# ## 전체 풀이 코드

# import pandas as pd

# df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part3/403_netflix.csv')

# rst_df = df[df['date_added'].str.contains('January')&df['date_added'].str.contains('2018')]
# rst_df = rst_df[rst_df['country']=='United Kingdom']

# result = len(rst_df)

# print(result) # 최종 결과값만 print되도록 해야 합니다.

## 3. 작업형 제2유형

다음은 Customer Segmentation 데이터 세트이다. 주어진 훈련 데이터 세트를 활용하여 고객이 속한 세그먼트(Segmentation)를 예측하고 해당 예측 결과를 csv 파일로 제출하시오.

### (1) 사전 준비

#### 데이터 불러오기

In [ ]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/404_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'index': X_test.index, 'y_pred': pred}).to_csv('003000000.csv', index=False)

In [ ]:
print(X_train.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0

  Spending_Score  Family_Size
0            Low          4.0
1            Low          1.0
2           High          2.0
3        Average          2.0
4            Low          3.0

In [ ]:
print(y_train.head())

       ID Segmentation
0  462809            D
1  466315            B
2  461735            B
3  461319            C
4  460156            C

In [ ]:
print(X_test.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer              0.0
1  458994    Male          Yes   37       Yes  Healthcare              8.0
2  459000    Male          Yes   59        No   Executive             11.0
3  459003    Male          Yes   47       Yes      Doctor              0.0
4  459005    Male          Yes   61       Yes      Doctor              5.0

  Spending_Score  Family_Size
0            Low          1.0
1        Average          4.0
2           High          2.0
3           High          5.0
4            Low          3.0

### (2) 데이터 전처리

####데이터 확인하기

In [ ]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6718 non-null   int64
 1   Gender           6718 non-null   object
 2   Ever_Married     6718 non-null   object
 3   Age              6718 non-null   int64
 4   Graduated        6718 non-null   object
 5   Profession       6718 non-null   object
 6   Work_Experience  6718 non-null   float64
 7   Spending_Score   6718 non-null   object
 8   Family_Size      6718 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 472.5+ KB
None

In [ ]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            6718 non-null   int64
 1   Segmentation  6718 non-null   object
dtypes: int64(1), object(1)
memory usage: 105.1+ KB
None

In [ ]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2178 entries, 0 to 2177
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2178 non-null   int64
 1   Gender           2178 non-null   object
 2   Ever_Married     2178 non-null   object
 3   Age              2178 non-null   int64
 4   Graduated        2178 non-null   object
 5   Profession       2178 non-null   object
 6   Work_Experience  2178 non-null   float64
 7   Spending_Score   2178 non-null   object
 8   Family_Size      2178 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 153.3+ KB
None

#### 변수별 결측치 수 확인

In [ ]:
X_train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [ ]:
X_test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
dtype: int64

In [ ]:
y_train.isnull().sum()

ID              0
Segmentation    0
dtype: int64

####  변수 구분

In [ ]:
# ID: 불필요한 변수
# Age, Work_Experience, Family_Size: 수치형 변수
# Gender, Ever_Married, Graduated, Profession, Spending_Score: 범주형 변수
# Segmentation: 종속 변수

COL_DEL = ['ID']
COL_NUM = ['Age', 'Work_Experience', 'Family_Size']
COL_CAT = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score']
COL_Y = ['Segmentation']

### (3) 데이터 모형 구축

####  데이터 분할

In [ ]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT], y_train[COL_Y].values.ravel(), test_size=0.3, stratify=y_train[COL_Y].values.ravel())

분류 모델을 만들어야 하므로 stratify 옵션으로 학습, 검증용 데이터의 Y 비율이 같도록 한다. stratify 옵션은 필수는 아니지만 두 클래스 간 비율이 크게 차이나는 불균형 데이터의 경우에는 꼭 넣어주는 것이 좋다.

In [ ]:
print(X_tr.head())

      Age  Work_Experience  Family_Size  Gender Ever_Married Graduated  \
698    50              1.0          3.0  Female          Yes       Yes
4532   21              1.0          5.0    Male           No        No
5649   38              1.0          3.0  Female           No       Yes
2067   37              8.0          2.0    Male          Yes       Yes
3802   47              1.0          4.0  Female          Yes       Yes

         Profession Spending_Score
698          Artist        Average
4532     Healthcare            Low
5649         Artist            Low
2067  Entertainment        Average
3802         Doctor        Average

In [ ]:
print(y_tr)

['B' 'D' 'A' ... 'C' 'C' 'C']

#### 수치형 변수 - 데이터 스케일링

데이터 누수를 방지하기 위해 scaler의 fitting은 학습용 데이터 X_tr만 사용하고, X_tr, X_val, X_test 세 데이터 모두에 적용하여 스케일링해야 하는 것 주의하기

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])

X_tr[COL_NUM]   = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]  = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [ ]:
print(X_tr[COL_NUM].head())

           Age  Work_Experience  Family_Size
698   0.386828        -0.469285     0.101758
4532 -1.367491        -0.469285     1.416231
5649 -0.339097        -0.469285     0.101758
2067 -0.399591         1.593487    -0.555478
3802  0.205347        -0.469285     0.758994

#### 범주형 변수 - 데이터 인코딩

데이터 인코딩은 데이터 누수의 우려가 없고, 각 컬럼에서 나타날 수 있는 값들을 모두 반영해야 한다. 따라서 X_train, X_test를 합친 X 데이터프레임을 사용하여 인코더를 fitting시킨다. 또한 LableEncoder는 컬럼 전체에 적용하지 못하고 각 컬럼별로 적용해야 한다는 점을 주의해야 한다.

In [ ]:
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train[COL_CAT], X_test[COL_CAT]])

for col in COL_CAT:
  le = LabelEncoder()
  le.fit(X[col])
  X_tr[col] = le.transform(X_tr[col])
  X_val[col] = le.transform(X_val[col])
  X_test[col] = le.transform(X_test[col])

  # 각 변수의 클래스 확인
  print(col)
  print(le.classes_)
  print('\n')

Gender
['Female' 'Male']


Ever_Married
['No' 'Yes']


Graduated
['No' 'Yes']


Profession
['Artist' 'Doctor' 'Engineer' 'Entertainment' 'Executive' 'Healthcare'
 'Homemaker' 'Lawyer' 'Marketing']


Spending_Score
['Average' 'High' 'Low']

In [ ]:
print(X_tr[COL_CAT].head())

      Gender  Ever_Married  Graduated  Profession  Spending_Score
698        0             1          1           0               0
4532       1             0          0           5               2
5649       0             0          1           0               2
2067       1             1          1           3               0
3802       0             1          1           1               0

####모형 학습

In [ ]:
### XGBoost 최신 버전에서 발생하는 y 데이터의 Label오류 해결을 위한 추가 코드
y_le = LabelEncoder()
y_le.fit(y_train[COL_Y])

y_tr = y_le.transform(y_tr)
y_val = y_le.transform(y_val)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:99: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
## 1) 랜덤 포레스트
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state=123)
modelRF.fit(X_tr, y_tr)

## 2) XGBoost
from xgboost import XGBClassifier
modelXGB = XGBClassifier(random_state=123)
modelXGB.fit(X_tr, y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, objective='multi:softprob', ...)

### (4) 데이터 모형 평가

#### 검증 데이터로 예측값 생성

In [ ]:
y_val_predRF = modelRF.predict(X_val)
y_val_predXGB = modelXGB.predict(X_val)

#### 평가지표 구하기

답안 채점 기준인 macro f1 score 사용

In [ ]:
from sklearn.metrics import f1_score

scoreRF = f1_score(y_val, y_val_predRF, average='macro')
scoreXGB = f1_score(y_val, y_val_predXGB, average='macro')

print('Random Forest: \t', scoreRF)
print('XGBoost: \t', scoreXGB)

Random Forest: 	 0.4705694993067998
XGBoost: 	 0.5037853938815378

f1-score값이 높을수록 모델의 성능이 좋은 것이므로 XGBoost 모형이 Random Forest 모형보다 더 좋은 성능을 보인다.

참고 - 써야할 함수명 아예 모를 때 metric 종류 확인하는 코드

In [ ]:
### 참고 - metric 종류 확인
import sklearn.metrics
print(help(sklearn.metrics.f1_score))   # 함수 명은 알지만 패러미터 등 사용법을 모를 때

Help on function f1_score in module sklearn.metrics._classification:

f1_score(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')
    Compute the F1 score, also known as balanced F-score or F-measure.

    The F1 score can be interpreted as a harmonic mean of the precision and
    recall, where an F1 score reaches its best value at 1 and worst score at 0.
    The relative contribution of precision and recall to the F1 score are
    equal. The formula for the F1 score is::

        F1 = 2 * (precision * recall) / (precision + recall)

    In the multi-class and multi-label case, this is the average of
    the F1 score of each class with weighting depending on the ``average``
    parameter.

    Read more in the :ref:`User Guide <precision_recall_f_measure_metrics>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : array-like, default=None
        The set of labels to include when ``average != 'binary'``, and their
        order if ``average is None``. Labels present in the data can be
        excluded, for example to calculate a multiclass average ignoring a
        majority negative class, while labels not present in the data will
        result in 0 components in a macro average. For multilabel targets,
        labels are column indices. By default, all labels in ``y_true`` and
        ``y_pred`` are used in sorted order.

        .. versionchanged:: 0.17
           Parameter `labels` improved for multiclass problem.

    pos_label : str or int, default=1
        The class to report if ``average='binary'`` and the data is binary.
        If the data are multiclass or multilabel, this will be ignored;
        setting ``labels=[pos_label]`` and ``average != 'binary'`` will report
        scores for that label only.

    average : {'micro', 'macro', 'samples', 'weighted', 'binary'} or None,             default='binary'
        This parameter is required for multiclass/multilabel targets.
        If ``None``, the scores for each class are returned. Otherwise, this
        determines the type of averaging performed on the data:

        ``'binary'``:
            Only report results for the class specified by ``pos_label``.
            This is applicable only if targets (``y_{true,pred}``) are binary.
        ``'micro'``:
            Calculate metrics globally by counting the total true positives,
            false negatives and false positives.
        ``'macro'``:
            Calculate metrics for each label, and find their unweighted
            mean.  This does not take label imbalance into account.
        ``'weighted'``:
            Calculate metrics for each label, and find their average weighted
            by support (the number of true instances for each label). This
            alters 'macro' to account for label imbalance; it can result in an
            F-score that is not between precision and recall.
        ``'samples'``:
            Calculate metrics for each instance, and find their average (only
            meaningful for multilabel classification where this differs from
            :func:`accuracy_score`).

    sample_weight : array-like of shape (n_samples,), default=None
        Sample weights.

    zero_division : "warn", 0 or 1, default="warn"
        Sets the value to return when there is a zero division, i.e. when all
        predictions and labels are negative. If set to "warn", this acts as 0,
        but warnings are also raised.

    Returns
    -------
    f1_score : float or array of float, shape = [n_unique_labels]
        F1 score of the positive class in binary classification or weighted
        average of the F1 scores of each class for the multiclass task.

    See Also
    --------
    fbeta_score : Compute the F-beta score.
    precision_recall_fscore_support : Compute the precision, recall, F-score,
        and support.
    jaccard_score : Compute the Jaccard similarity coefficient score.
    multilabel_confusion_matrix : Compute a confusion matrix for each class or
        sample.

    Notes
    -----
    When ``true positive + false positive == 0``, precision is undefined.
    When ``true positive + false negative == 0``, recall is undefined.
    In such cases, by default the metric will be set to 0, as will f-score,
    and ``UndefinedMetricWarning`` will be raised. This behavior can be
    modified with ``zero_division``.

    References
    ----------
    .. [1] `Wikipedia entry for the F1-score
           <https://en.wikipedia.org/wiki/F1_score>`_.

    Examples
    --------
    >>> from sklearn.metrics import f1_score
    >>> y_true = [0, 1, 2, 0, 1, 2]
    >>> y_pred = [0, 2, 1, 0, 0, 1]
    >>> f1_score(y_true, y_pred, average='macro')
    0.26...
    >>> f1_score(y_true, y_pred, average='micro')
    0.33...
    >>> f1_score(y_true, y_pred, average='weighted')
    0.26...
    >>> f1_score(y_true, y_pred, average=None)
    array([0.8, 0. , 0. ])
    >>> y_true = [0, 0, 0, 0, 0, 0]
    >>> y_pred = [0, 0, 0, 0, 0, 0]
    >>> f1_score(y_true, y_pred, zero_division=1)
    1.0...
    >>> # multilabel classification
    >>> y_true = [[0, 0, 0], [1, 1, 1], [0, 1, 1]]
    >>> y_pred = [[0, 0, 0], [1, 1, 1], [1, 1, 0]]
    >>> f1_score(y_true, y_pred, average=None)
    array([0.66666667, 1.        , 0.66666667])

None

####  학습, 검증 성능 확인 함수

학습 데이터에 대한 모형 성능도 같이 확인하여 모형의 과대적합 여부 확인

In [ ]:
def get_scores(model, X_tr, X_val, y_tr, y_val):
  y_tr_pred = model.predict(X_tr)
  y_val_pred = model.predict(X_val)
  tr_score = f1_score(y_tr, y_tr_pred, average='macro')
  val_score = f1_score(y_val, y_val_pred, average='macro')

  return f'train: {round(tr_score, 4)}, valid: {round(val_score, 4)}'

In [ ]:
print('Random Forest \t-', get_scores(modelRF, X_tr, X_val, y_tr, y_val))
print('XGBoost \t-', get_scores(modelXGB, X_tr, X_val, y_tr, y_val))

Random Forest 	- train: 0.942, valid: 0.4706
XGBoost 	- train: 0.783, valid: 0.5038

####  하이퍼 파라미터 튜닝

In [ ]:
modelXGB2 = XGBClassifier(n_estimators=50, max_depth=3, min_child_weight=1, random_state=123)
modelXGB2.fit(X_tr, y_tr)

modelXGB3 = XGBClassifier(n_estimators=50, max_depth=3, min_child_weight=2, random_state=123)
modelXGB3.fit(X_tr, y_tr)

modelXGB4 = XGBClassifier(n_estimators=50, max_depth=5, min_child_weight=1, random_state=123)
modelXGB4.fit(X_tr, y_tr)

modelXGB5 = XGBClassifier(n_estimators=100, max_depth=5, min_child_weight=1, random_state=123)
modelXGB5.fit(X_tr, y_tr)

print('XGBoost2 \t-', get_scores(modelXGB2, X_tr, X_val, y_tr, y_val))
print('XGBoost3 \t-', get_scores(modelXGB3, X_tr, X_val, y_tr, y_val))
print('XGBoost4 \t-', get_scores(modelXGB4, X_tr, X_val, y_tr, y_val))
print('XGBoost5 \t-', get_scores(modelXGB5, X_tr, X_val, y_tr, y_val))

####  최종 결과값 생성

In [ ]:
pred = modelXGB.predict(X_test[COL_NUM+COL_CAT])

### XGBoost 최신 버전에서 발생하는 y 데이터의 Label오류 해결을 위한 추가 코드
pred = y_le.inverse_transform(pred)

result = pd.DataFrame({'ID': X_test.ID, 'Segmentation': pred})
print(result.head())

In [ ]:
## 최종 결과 확인 후 to_csv 함수로 제출
# result.to_csv('003000000.csv', index=False)