<a href="https://colab.research.google.com/github/jangje0908/sesac/blob/main/Part2_%EC%9E%91%EC%97%85%ED%98%95_Chapter5_%EB%A7%88%EB%AC%B4%EB%A6%AC_%EB%AC%B8%EC%A0%9C_iris_wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chapter 5. 과목 마무리 문제**

## 1. 작업형 제 1유형

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 637, done.
remote: Counting objects: 100% (274/274), done.
remote: Compressing objects: 100% (165/165), done.
remote: Total 637 (delta 136), reused 184 (delta 109), pack-reused 363
Receiving objects: 100% (637/637), 10.76 MiB | 16.98 MiB/s, done.
Resolving deltas: 100% (321/321), done.

### (1) Iris 데이터 세트

In [ ]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

##### 1번. Iris 데이터 세트에서  species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [ ]:
a = data.groupby('species')['petal_width'].quantile([0.75])
max = a.max()
min = a.min()
print(max - min)

1.9999999999999998

In [ ]:
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

##### 2번. Iris 데이터 세트에서 sepal_length 변수의 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [ ]:
sepal_length_list = data['sepal_length'].unique().tolist()
sepal_length_list.sort()
print(sepal_length_list[9])

5.2


- 이 코드는 Python 프로그래밍 언어를 사용하여 데이터프레임에서 특정 열('sepal_length')의 고유한(unique) 값을 추출하고 정렬한 다음, 그 중에서 10번째 값을 출력하는 것을 수행합니다. 코드를 한 줄씩 해석하겠습니다.

- lst = data['sepal_length'].unique().tolist(): data는 어떤 데이터프레임을 나타내는 변수로 가정됩니다. 데이터프레임은 표 형식의 데이터를 다루는데 사용되는 자료구조입니다.
- data['sepal_length']는 데이터프레임에서 'sepal_length' 열을 선택하는 부분입니다.
- .unique()는 선택된 열에서 고유한(unique) 값을 추출하는 메서드입니다. 이로 인해 중복된 값을 제외한 'sepal_length' 열의 고유한 값들이 추출됩니다.
- .tolist()는 이러한 고유한 값들을 리스트로 변환합니다. 이 리스트는 변수 lst에 할당됩니다.
- lst.sort(): lst 리스트에 저장된 고유한 값들을 오름차순으로 정렬합니다.
print(lst[9]):

- 정렬된 리스트에서 10번째(인덱스가 9인) 값을 출력합니다. Python의 인덱스는 0부터 시작하므로, 이 코드는 정렬된 'sepal_length' 값들 중에서 10번째로 작은 값을 출력합니다.
따라서, 이 코드는 'sepal_length' 열의 고유한 값들을 추출하고 정렬한 후, 그 중에서 10번째로 작은 값을 출력합니다.

##### 3번. Iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개의 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오.(최종 계산 값의 소수점 이하는 버린다.)

In [ ]:
sorted_data = data.sort_values(by=['sepal_width'], ascending=False).reset_index(drop=True)
sorted_data_split = sorted_data.loc[0:99]
print(int(sorted_data_split['sepal_width'].std()*50))

16


1. sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True):

- data는 데이터프레임을 나타내는 변수로 가정됩니다.
- data.sort_values(by='sepal_width', ascending=False)는 'sepal_width' 열을 기준으로 내림차순으로 데이터프레임을 정렬합니다. 따라서 'sepal_width' 값이 큰 행부터 작은 행 순서로 정렬됩니다.
- .reset_index(drop=True)는 인덱스를 재설정합니다. drop=True는 이전의 인덱스를 삭제하고 새로운 인덱스를 생성하라는 옵션입니다. 이로써 인덱스가 0부터 시작하게 됩니다. 정렬된 데이터프레임은 sorted_data에 저장됩니다.

2. sorted_data_split = sorted_data.loc[0:99] 또는 sorted_data.head(100):

- sorted_data 데이터프레임에서 처음부터 100번째 행까지 선택합니다. 이 부분은 'sepal_width' 값을 기준으로 내림차순으로 정렬된 데이터프레임에서 가장 큰 100개의 값을 선택하는 것과 동일합니다. 선택된 데이터는 sorted_data_split에 저장됩니다.
3. int(sorted_data_split['sepal_width'].std()*50):

- sorted_data_split 데이터프레임에서 'sepal_width' 열의 표준편차(standard deviation)를 계산합니다. 표준편차는 데이터 값들의 변동성을 나타냅니다.
- 이 표준편차에 50을 곱한 결과를 정수형으로 변환한 후 출력합니다. 이로써 상위 100개의 'sepal_width' 값들의 표준편차에 50을 곱한 값이 출력됩니다.
따라서, 이 코드는 'sepal_width' 값을 기준으로 내림차순으로 정렬한 데이터프레임에서 상위 100개의 행을 선택하고, 해당 행들의 'sepal_width' 값의 표준편차에 50을 곱한 값을 출력합니다.

##### 4번. Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오.(최종 계산 값의 소수점 이하는 반올림한다.)

In [ ]:
data = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

##### 5번. Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오.(단, 이상치 범위는 (평균 + 2 * 표준편차) 이상히거나 ( 평균 - 2 * 표준편차)이하이다.)

In [ ]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()

crit1 = mean+2*std
crit2 = mean-2*std

print(data[(data['sepal_length']>=crit1)|(data['sepal_length']<=crit2)])

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

### (2) Wine 데이터 세트

In [ ]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/wine.csv")

##### 1번. total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오.

In [ ]:
data_drop = data[data['total_phenols'].notnull()]
median = data_drop['alcalinity_of_ash'].median()
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = median
print(data_drop['alcalinity_of_ash'].mean())

19.397546012269938

##### 2번. alcohol 값이 alcohol 평균값 이상이고, color_intensity 값이 color_intensity 평균값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오.

In [ ]:
mean1 = data['alcohol'].mean()
mean2 = data['color_intensity'].mean()

new_data = data[(data['alcohol']>=mean1) & (data['color_intensity']>=mean2)]

print(new_data['class'].value_counts())

0    37
2    23
1     1
Name: class, dtype: int64

##### 3번. class1에 해당하는 데이터의 ash 평균값과 wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절대값을 계산하시오.

In [ ]:
mean1 = data[data['class']==1]['ash'].mean()
mean2 = data.dropna()['ash'].mean()

print(round(abs(mean1 - mean2), 3))

0.12

##### 4번. alcohol 변수의 상위에서 20번째 값 alcohol을 오름차순 정렬했을 때 20번째에 위치한 값으로 상위 20개의 값을 변환한 후, proanthocyanins가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오.

In [ ]:
data_sorted = data.sort_values(by='alcohol', ascending=True, axis=0)
data_sorted = data_sorted.reset_index(drop=True)
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']
print(round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(), 2))

12.97

1. data_sorted = data.sort_values(by='alcohol', ascending=True, axis=0):

- data는 데이터프레임을 나타내는 변수입니다.
- data.sort_values(by='alcohol', ascending=True, axis=0)는 'alcohol' 열을 기준으로 오름차순으로 데이터프레임을 정렬합니다. axis=0는 행 방향(수직)으로 정렬하라는 옵션입니다.
- 정렬된 데이터프레임은 data_sorted 변수에 저장됩니다.
2. data_sorted = data_sorted.reset_index(drop=True):

- data_sorted 데이터프레임의 인덱스를 재설정합니다. drop=True는 이전의 인덱스를 삭제하고 새로운 인덱스를 생성하라는 옵션입니다. 이로써 인덱스가 0부터 시작하게 됩니다.
3. data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']:

- 'data_sorted' 데이터프레임에서 0부터 19까지의 행과 'alcohol' 열에 해당하는 값을, 해당 열에서 19번 행의 'alcohol' 값으로 대체합니다. 이로써 상위 20개 행의 'alcohol' 값이 모두 19번 행의 'alcohol' 값으로 설정됩니다.
4. round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(), 2):

- data_sorted 데이터프레임에서 'proanthocyanins' 열 값이 2 이하인 행들을 필터링합니다.
- 그 결과에서 'alcohol' 열 값을 추출한 후, 이 값들의 평균을 계산합니다.
- round(..., 2)는 평균 값을 소수점 이하 2자리까지 반올림합니다.
- 최종 결과는 소수점 이하 2자리까지 반올림된 'proanthocyanins' 값이 2 이하인 행들의 'alcohol' 열 값의 평균이 출력됩니다.

##### 5번. class1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오.

In [ ]:
class1_q1, class1_q3 = data[data['class']==1]['proline'].quantile([0.25, 0.75])
class2_q1, class2_q3 = data[data['class']==2]['proline'].quantile([0.25, 0.75])
print(class1_q1, class1_q3)
print(class2_q1, class2_q3)
print(abs((class1_q1-class1_q3)-(class2_q1-class2_q3)))

406.5 625.0
545.0 695.0
68.5