<a href="https://colab.research.google.com/github/jangje0908/sesac_practice/blob/main/python100_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
print("Hello world!")

Hello world!

In [ ]:
# 2
name = "Jang ju eun"
math_score = 100
height = 165

print("name:" , name)
print("height: ", height)
print("math score: ", math_score)

name: Jang ju eun
height:  165
math score:  100

In [ ]:
# 3
a = 4
b = 2
print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a // b)
print(a ** 2)
print(a % b)

6
8
2
2.0
2
16
0

In [ ]:
# 4
a, b = 4, 2
add = a + b
sub = a - b
mul = a * b
div = a / b
quo = a // b
rem = a % b
pow = a ** b

print(add, sub, mul, div, quo, rem, pow)

6 2 8 2.0 2 0 16

In [ ]:
# 5
a, b, c, d = 1, 2, 3, 4
div = 2

rem1, rem2, rem3, rem4 = a%div, b%div, c%div, d%div

print(rem1, rem2, rem3, rem4)

1 0 1 0

In [ ]:
# 6
score = 10
print(score)

score += 10
print(score)

score -= 5
print(score)

score *= 2
print(score)

score /= 5
print(score)

score **= 2
print(score)

10
20
15
30
6.0
36.0

In [ ]:
# 7
score1 = 10
score2 = 20
score3 = 30

score_sum = score1 + score2 + score3
print(score_sum)

60

In [ ]:
# 8
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3) / n_student
print(score_mean)

20.0

In [ ]:
# 9
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3) / n_student
print(score_mean)


score1 += 10
score2 += 10
score3 += 10
print(score1, score2, score3)

score_mean = (score1 + score2 + score3) / n_student
print(score_mean)

20.0
20 30 40
30.0

In [ ]:
# 10
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3) / n_student


score1 -= score_mean
score2 -= score_mean
score3 -= score_mean

score_mean = (score1 + score2 + score3) / n_student
print(score_mean)

0.0

In [ ]:
# 11
score1 = 10
score2 = 20
score3 = 30
n_student = 3

mean = (score1 + score2 + score3) / n_student
square_of_mean = mean ** 2
mean_of_squre = (score1**2 + score2**2 + score3**2)/n_student

print("squre of mean: ", square_of_mean)
print("mean of squre: ", mean_of_squre)

squre of mean:  400.0
mean of squre:  466.6666666666667

In [ ]:
# 12
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3)/n_student
square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student

score_variance = mean_of_square- square_of_mean
score_std = score_variance**0.5

print("mean:", score_mean)
print("variance:", score_variance)
print("standard deviation:", score_std)

mean: 20.0
variance: 66.66666666666669
standard deviation: 8.16496580927726

In [ ]:
# 13
score1 = 10
score2 = 20
score3 = 30
n_student = 3

score_mean = (score1 + score2 + score3)/n_student
square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
score_variance = mean_of_square- square_of_mean
score_std = score_variance**0.5


score1 = (score1 - score_mean)/score_std
score2 = (score2 - score_mean)/score_std
score3 = (score3 - score_mean)/score_std

score_mean = (score1 + score2 + score3)/n_student
square_of_mean = score_mean**2
mean_of_square = (score1**2 + score2**2 + score3**2)/n_student
score_variance = mean_of_square- square_of_mean
score_std = score_variance**0.5

print("mean:", score_mean)
print("standard deviation:", score_std)

mean: 0.0
standard deviation: 1.0

In [ ]:
# 14: vector
x1, y1, z1 = 1,2,3
x2, y2, z2 = 3,4,5

x3, y3, z3 = x1 + x2, y1 + y2, z1 + z2
x4, y4, z4 = x1 - x2, y1 - y2, z1 - z2
x5, y5, z5 = x1 * x2, y1 * y2, z1 * z2

print(x3, y3, z3)
print(x4, y4, z4)
print(x5, y5, z5)

4 6 8
-2 -2 -2
3 8 15

In [ ]:
# 15: scalar-vector
a = 10
x1, y1, z1 = 1,2,3

x2, y2, z2 = a*x1, a*y1, a*z1
x3, y3, z3 = a+x1, a+y1, a+z1
x4, y4, z4 = a-x1, a-y1, a-z1

print(x2,y2,z2)
print(x3,y3,z3)
print(x4,y4,z4)

10 20 30
11 12 13
9 8 7

In [ ]:
# 16: vector norm
x, y, z = 1,2,3

norm = (x**2 + y**2 + z**2) ** 0.5

print(norm)

3.7416573867739413

In [ ]:
# 17: unit vector
x,y,z = 1,2,3

norm = (x**2 + y**2 + z**2 )** 0.5
print(norm)

x,y,z = x/norm, y/norm, z/norm
norm = (x**2 + y**2 + z**2) ** 0.5
print(norm)

3.7416573867739413
1.0

In [ ]:
# 18: dot product
x1, y1, z1 = 1,2,3
x2, y2, z2 = 3,4,5

dot_prod = x1*x2 + y1*y2 + z1*z2
print(dot_prod)

26

In [ ]:
# 19: euclidean distance
x1, y1, z1 = 1,2,3
x2, y2, z2 = 3,4,5

e_distance = (x1-x2)**2 + (y1-y2)**2 + (z1-z2)**2
e_distance **= 0.5

print(e_distance)

3.4641016151377544

In [ ]:
# 20: squared error
pred1, pred2, pred3 = 10, 20, 30
y1, y2, y3 = 10, 25, 40
n_data = 3

s_error1 = (pred1 - y1)**2
s_error2 = (pred2 - y2)**2
s_error3 = (pred3 - y3)**2

print(s_error1, s_error2, s_error3)

0 25 100

In [ ]:
# 21: mean squared error
pred1, pred2, pred3 = 10, 20, 30
y1, y2, y3 = 10, 25, 40
n_data = 3

s_error1 = (pred1 - y1)**2
s_error2 = (pred2 - y2)**2
s_error3 = (pred3 - y3)**2

mse = (s_error1 + s_error2 + s_error3) / n_data
print(mse)

41.666666666666664

In [ ]:
# 22
scores = [10,20,30]
print(scores[0])
print(scores[1])
print(scores[2])

10
20
30

In [ ]:
# 23
scores = [10,20,30]
print(scores)

scores[0] = 100
scores[1] = 200
print(scores)

[10, 20, 30]
[100, 200, 30]

In [ ]:
# 24
scores = [10,20,30]
mean = (scores[0] + scores[1] + scores[2]) / len(scores)

print(mean)

20.0

In [ ]:
# 25
scores = [10,20,30]
n_student = len(scores)

mean = (scores[0] + scores[1] + scores[2]) / n_student
print("score mean:", mean)

scores[0] -= mean
scores[1] -= mean
scores[2] -= mean

mean = (scores[0] + scores[1]+ scores[2]) / n_student
print("score_mean:", mean)

score mean: 20.0
score_mean: 0.0

In [ ]:
# 26
scores = [10,20,30]
n_student = len(scores)

mean = (scores[0] + scores[1] + scores[2]) / n_student
square_of_mean = mean **2
mean_of_square = (scores[0]**2 + scores[1]**2 + scores[2]**2) / n_student

variance = mean_of_square - square_of_mean
std = variance**0.5

print("mean:" , mean)
print("variance: ", variance)
print("standard deviation:" , std)

mean: 20.0
variance:  66.66666666666669
standard deviation: 8.16496580927726

In [ ]:
# 27
scores = [10,20,30]
n_student = len(scores)

mean = (scores[0] + scores[1] + scores[2]) / n_student
square_of_mean = mean **2
mean_of_square = (scores[0]**2 + scores[1]**2 + scores[2]**2) / n_student

variance = mean_of_square - square_of_mean
std = variance**0.5

scores[0] = (scores[0] - mean) / std
scores[1] = (scores[1] - mean) / std
scores[2] = (scores[2] - mean) / std

mean = (scores[0] + scores[1] + scores[2]) / n_student
square_of_mean = mean**2
mean_of_square = (scores[0]**2 + scores[1]**2 + scores[2]**2) / n_student   #제곱의 평균

variance = mean_of_square - square_of_mean
std = variance**0.5

print("mean:" , mean)
print("standard deviation:" , std)

mean: 0.0
standard deviation: 1.0

In [ ]:
# 28
v1, v2 = [1, 2, 3], [3, 4, 5]
v3 = [v1[0]*v2[0], v1[1]*v2[1], v1[2]*v2[2]]
print((v3))

[3, 8, 15]

In [ ]:
# 29
v1 = list()
print(v1)

v1.append(1)
print(v1)

v1.append(2)
print(v1)

v1.append(3)
print(v1)

[]
[1]
[1, 2]
[1, 2, 3]

In [ ]:
# 30
v1, v2 = [1, 2, 3], [3, 4, 5]

v3 = []
v3.append(v1[0] * v2[0])
v3.append(v1[1] * v2[1])
v3.append(v1[2] * v2[2])

print(v3)

[3, 8, 15]

In [ ]:
# 31
v1 = [1,2,3]

norm = (v1[0]**2 + v1[1]**2 + v1[2]**2)**0.5
print(norm)

3.7416573867739413

In [ ]:
# 32
v1 = [1,2,3]

norm = (v1[0]**2 + v1[1]**2 + v1[2]**2) ** 0.5
print(norm)

v1 = (v1[0]/norm, v1[1]/norm, v1[2]/norm)
norm = (v1[0]**2 + v1[1]**2 + v1[2]**2) ** 0.5
print(norm)

3.7416573867739413
1.0

In [ ]:
# 33
v1, v2 = [1,2,3], [3,4,5]

dot_prod = v1[0]*v2[0] + v1[1]*v2[1] + v1[2]*v2[2]
print(dot_prod)

26

In [ ]:
# 34
v1, v2 = [1,2,3], [3,4,5]

e_distance = 0
e_distance += (v1[0] - v2[0])**2
e_distance += (v1[1] - v2[1])**2
e_distance += (v1[2] - v2[2])**2
e_distance **= 0.5

print(e_distance)

3.4641016151377544

In [ ]:
# 35
predictions = [10, 20, 30]
labels = [10, 25, 40]
n_data = len(predictions)

mse = 0
mse += (predictions[0] - labels[0])**2
mse += (predictions[1] - labels[1])**2
mse += (predictions[2] - labels[2])**2
mse /= n_data
print(mse)

41.666666666666664

In [ ]:
# 36
scores = [10,20,30]

for score in scores:
  print(score)

10
20
30

In [ ]:
# 37
scores = [10,20,30]

score_sum = 0

for score in scores:
  score_sum += score

print(score_sum)

60

In [ ]:
# 38
numbers = [1,4,5,6,4,2,1]
iter_cnt = 0

for _ in numbers:
  iter_cnt += 1

print(iter_cnt)

7

In [ ]:
# 39
num_sum = 0

for i in range(101):
  num_sum += i   # i만큼의 합을 누적시키는 것

print(num_sum)

5050

In [ ]:
# 40
numbers = list()

for i in range(1,101):
  numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]